!books/.gitkeep
!data/.gitkeep
# Книги: содержимое не храним, но папку держим в репозитории (через .gitkeep)
.DS_Store
/.DS_Store
/.github
/.vscode
/.архив
/__pycache__
/assets/gif/make_gif.py
books/*
data/*
deploy.sh

# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.pyc
